<a href="https://colab.research.google.com/github/nileshmalode11/python_practice_notes/blob/main/python__practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
string = "Nilesh Ganesh Malode"
len(string)
lst = list(string)
lst = [char for char in string if char not in " "]
print(lst)

['N', 'i', 'l', 'e', 's', 'h', 'G', 'a', 'n', 'e', 's', 'h', 'M', 'a', 'l', 'o', 'd', 'e']

In [18]:
x = string[0]
print(x)

N

In [51]:
string = "Nilesh Ganesh Malode"
string = string.lower()
count = {}
for char in string:
  if char==" ":
    pass
  elif char  in count:
    count[char] += 1
  else :
    count[char] = 1
print(count)

{'n': 2, 'i': 1, 'l': 2, 'e': 3, 's': 2, 'h': 2, 'g': 1, 'a': 2, 'm': 1, 'o': 1, 'd': 1}

In [33]:
import string

all_alphabets = string.ascii_lowercase
print(all_alphabets)
uppercase = string.ascii_uppercase
print(uppercase)

abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [39]:
string = "Nilesh Ganesh Malode"
new_string =""
for char in string:
  if "A" <= char <= "Z":
    new_string+=chr(ord(char)+32)
  else:
    new_string+=char
print(new_string)

nilesh ganesh malode

In [38]:
string = "Nilesh Ganesh Malode"
new_string = ""

for char in string:
    if "A" <= char <= "Z":
        new_string += chr(ord(char) + 32)  # Convert uppercase to lowercase
    else:
        new_string += char

print(new_string)

nilesh ganesh malode

In [49]:
# Split the string into words
words = new_string.split()
print(words)
x = new_string[::-1]
print(x)
# Reverse the order of words
reversed_string = ' '.join(words[::-1])

print(reversed_string)

['nilesh', 'ganesh', 'malode']
edolam hsenag hselin
malode ganesh nilesh

In [45]:
# Reverse the string
reversed_string = ""
current_word = ""
for char in new_string:
    if char != " ":
        current_word = char + current_word
    else:
        reversed_string = current_word + " " + reversed_string
        current_word = ""

# reversed_string = current_word + " " + reversed_string

print(reversed_string)

hsenag hselin

In [46]:
string = "Nilesh Ganesh Malode patil"

# Convert uppercase to lowercase
lower_string = ""
for char in string:
    if "A" <= char <= "Z":
        lower_string += chr(ord(char) + 32)  # Convert uppercase to lowercase
    else:
        lower_string += char

# Reverse the order of words
reversed_string = ""
current_word = ""
for char in lower_string:
    if char != " ":
        current_word += char
    else:
        reversed_string = current_word + " " + reversed_string
        current_word = ""

# Add the last word (or the only word if there's only one)
reversed_string = current_word + " " + reversed_string

print(reversed_string)

malode ganesh nilesh

In [62]:
x = "nilesh" , "malode"
print(x)
type(x)

('nilesh', 'malode')

tuple

In [60]:
count={}
for char in x:
  if char in count:
    count[char]+=1
  else:
    count[char]=1

In [61]:
print(count)

{'nilesh': 1, 'malode': 1}

In [68]:
lst1 = [1, 2, 3]
lst2 = [4, 10, 6]

res_lst = []
for i in lst1:
    x =i
    for j in lst2:
      x +=j
    res_lst.append(x)
print(res_lst)

[21, 22, 23]

In [74]:
x = "nilesh"
y = "hilesn"
x = list(x.upper())
y = list(y.upper())
x.sort(), y.sort()
if x == y:
  print("True")
else:
  print("False")

True