<a href="https://colab.research.google.com/github/nileshmalode11/python_practice_notes/blob/main/python_program_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
key_list = ["name", "age"]
value_list = ["nilesh", 24]

d = {k:v for k, v in zip(key_list,value_list)}
print(d)

{'name': 'nilesh', 'age': 24}

In [ ]:
my_dict = {}
for i in range(len(key_list)):
  key = key_list[i]
  value = value_list[i]
  my_dict[key]=value
print(my_dict)

{'name': 'nilesh', 'age': 24}

In [ ]:
def generate_ngrams(text, n):
    """
    Generate n-grams from the given text.

    Args:
    - text: Input text as a string.
    - n: Size of the n-grams (e.g., 1 for unigrams, 2 for bigrams, etc.).

    Returns:
    - List of n-grams.
    """
    # Tokenize the text into words
    words = text.split()

    # Generate n-grams
    ngrams = []
    for i in range(len(words) - n + 1):
        ngrams.append(" ".join(words[i:i + n]))

    return ngrams

# Example usage
text = "The quick brown fox jumps over the lazy dog"
n = 3 # Trigrams
trigrams = generate_ngrams(text, n)
print("Trigrams:", trigrams)

Trigrams: ['The quick brown', 'quick brown fox', 'brown fox jumps', 'fox jumps over', 'jumps over the', 'over the lazy', 'the lazy dog']

In [ ]:
import nltk
from nltk.stem import PorterStemmer,SnowballStemmer

In [ ]:
stemming = PorterStemmer()
stemming.stem("carying")

'cari'

In [ ]:
from nltk.stem import WordNetLemmatizer

In [ ]:
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [ ]:
WordNetLemmatizer().lemmatize("car",pos="v")

'car'

In [ ]:
from nltk.tokenize import word_tokenize,sent_tokenize

In [ ]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
a = "i am nilesh malode from chatrapati sambhajinagar"

tokens = word_tokenize(a)
tokens

['i', 'am', 'nilesh', 'malode', 'from', 'chatrapati', 'sambhajinagar']

In [ ]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
import nltk
from nltk.tokenize import word_tokenize
import string
text ="""hi hello how are you.
      fine and you
      where are you from"""
punctuation = string.punctuation
text = "".join(char for char in text if char not in punctuation)
# text = list(text)
# tokenized_text=[word_tokenize(i) for i in text]

print(word_tokenize(text))

['hi', 'hello', 'how', 'are', 'you', 'fine', 'and', 'you', 'where', 'are', 'you', 'from']

In [ ]:
import nltk
from nltk.tokenize import word_tokenize

# Sample dataset
dataset = [
    "This is the first text entry.",
    "And this is the second text entry."
]

# Tokenize each text entry in the dataset
tokenized_dataset = [word_tokenize(text) for text in dataset]
print(tokenized_dataset)

# Print the tokenized dataset
stopword=stopwords.words("english")

for tokens in tokenized_dataset:
  stem_words=[]
  for token in tokens:
    if token not in stopword:
      stem_words.append(token)
  print(stem_words)

[['This', 'is', 'the', 'first', 'text', 'entry', '.'], ['And', 'this', 'is', 'the', 'second', 'text', 'entry', '.']]
['This', 'first', 'text', 'entry', '.']
['And', 'second', 'text', 'entry', '.']

In [ ]:

from nltk.corpus import stopwords

In [ ]:
# adding elements of list
l1 = [1,2,3,4,56,7]
l2 = [9,8,7,6,5,4]
nl = []
for i in range(len(l2)):
  nl.append(l1[i]+l2[i])
print(nl)

[10, 10, 10, 10, 61, 11]

In [ ]:
str1 = "Listen"
str2 = "Silent"

str1 = list(str1.upper())
str2 = list(str2.upper())
str1.sort(), str2.sort()

if(str1 == str2):
    print("True",str1,str2)
else:
    print("False")

True ['E', 'I', 'L', 'N', 'S', 'T'] ['E', 'I', 'L', 'N', 'S', 'T']

In [ ]:
str1 = "listen"
str2 = "silent"
count=0
for i in str1:
  if i in str2:
    print(i)
    count+=1
if count == len(str2):
  print("true")

l
i
s
t
e
n
true

In [ ]:
str1=list(str1.upper())
str2=list(str2.upper())
str1.sort(),str2.sort()
if str1==str2:
  print("true")
else:
  print("false")

true

In [ ]:
import re

name = 'Python is 1'

digitCount = re.sub("[^0-9]", "", name)
letterCount = re.sub("[^a-zA-Z]", "", name)
spaceCount = re.findall("[ \n]", name)

print(len(digitCount))
print(len(letterCount))
print(len(spaceCount))

In [ ]:
z = list(range(1,10))
x = list(map(lambda x :{x:x**3},z))
print(x)

<map object at 0x7d407a2a3880>

In [ ]:
my_dict = {i:1+7 for i in range(1, 10)}
my_dict

{1: 8, 2: 8, 3: 8, 4: 8, 5: 8, 6: 8, 7: 8, 8: 8, 9: 8}

In [ ]:
def simpleGeneratorFun():
    yield 1
    yield 2
    yield 5

# Driver code to check above generator function
for value in simpleGeneratorFun():
    print(value)

1
2
5

In [ ]:
lis = ["nilesh","ganesh", "malode"]
x = "".join(lis)
b = {char:x.count(char)for char in x}
print(b)

{'n': 2, 'i': 1, 'l': 2, 'e': 3, 's': 2, 'h': 2, 'g': 1, 'a': 2, 'm': 1, 'o': 1, 'd': 1}

In [ ]:
output=""
for i in lis:
  output+=i+" "
print(output)

nilesh ganesh malode

In [ ]:
# python code to find out the elementin list
lis = ["nilesh","ganesh", "malode"]
x = "".join(lis)
b = {char : x.count(char) for char in x}
print(b)

{'n': 2, 'i': 1, 'l': 2, 'e': 3, 's': 2, 'h': 2, 'g': 1, 'a': 2, 'm': 1, 'o': 1, 'd': 1}

In [ ]:
lis = ["nilesh", "ganesh", "malode"]
# Combine all strings into one string
combined_string = " ".join(lis)
print(combined_string)
# Count occurrences of each character using dictionary comprehension
char_count = {char: combined_string.count(char) for char in combined_string}

print(char_count)

nilesh ganesh malode
{'n': 2, 'i': 1, 'l': 2, 'e': 3, 's': 2, 'h': 2, ' ': 2, 'g': 1, 'a': 2, 'm': 1, 'o': 1, 'd': 1}

In [ ]:
output = " "
for i in lis:
  output += i+" "
print(output)

 nilesh ganesh malode

In [ ]:
lis = [1,2,3,4,5]
for i in lis:
  lis.remove(i)

print(lis)

[2, 4]

In [ ]:
def add_2_num(num1,num2):
  while num2 != 0:
    carry = num1 & num2
    num1 = num1 ^ num2
    num2 = carry << 1
  return num1

add_2_num(6,14)

20

In [2]:
def add_num(n1,n2):
  while n2!=0:
    n3 = n1&n2
    n1=n1^n2
    n2=n3<<1
  return n1
add_num(12,12)

24

In [ ]:
def get_sum(a,b):
  while b!=0:
    z=a&b
    print(z)
    a=a^b
    print(a)
    b=z<<1
  return a
# Example usage
num1 = 12
num2 = 5
print("Sum:", get_sum(num1, num2))  # Output will be 12

4
9
8
1
0
17
Sum: 17

In [ ]:
def get_sum(a, b):
    while b != 0:
        carry = a & b
        a = a ^ b
        b = carry << 1

    return a

# Example usage
num1 = 5
num2 = 7
print("Sum:", get_sum(num1, num2))  # Output will be 12

Sum: 12

In [3]:
# program to find out palindrom mumber
num = 1983891
tem=num
reverse=0
while tem>0:
  remindere = tem%10
  reverse=(reverse*10)+remindere
  tem=tem//10
if reverse==num:
  print("palindrom")

palindrom

In [12]:
num=1983891
num1=str(num)
num2=num1[::-1]
num2=int(num2)
if num==num2:
  print("palindrom")

palindrom

In [ ]:
num = 121
tem = num
reverse = 0
while tem>0:
  print(tem)
  reminder = tem%10
  print(reminder)
  reverse = (reverse*10)+reminder
  print(reverse)
  tem = tem//10
if reverse==num:
  print("palindrom")

121
1
1
12
2
12
1
1
121
palindrom

In [ ]:
num=1634
n=len(str(num))
temp = num
sum=0
while temp>0:
  sum+=(temp%10)**n
  temp//=10
if num==sum:
  print("is armstrong")

is armstrong

In [ ]:
str1 = "Analytics Vidhya"
str2 = ""
for i in str1:
    str2 = i+str2
print("The original string is: ", str1)
print("The reversed string is: ", str2)

The original string is:  Analytics Vidhya
The reversed string is:  ayhdiV scitylanA

In [ ]:
z=str1.split()

In [ ]:
y = z[::-1]
" ".join(y)

'Vidhya Analytics'

In [15]:
str3= "nilesh ganesh malode"
word=""
words = []
for char in str3:
  if char !=" ":
    word = word+char
  else:
    words.append(word)
    word=""
if word:
  words.append(word)
print(words)

['nilesh', 'ganesh', 'malode']

In [ ]:
words[1]

'ganesh'

In [ ]:
output=""
for i in words:
  output+=i+" "
print(output)

nilesh ganesh malode

In [ ]:
x = [1,2,3,4,5]

In [ ]:
x.reverse()

In [ ]:
print(x)

[5, 4, 3, 2, 1]

In [ ]:
lis1 = [1,2,3,4,5,6,7,8,9,10]
result = list(map(lambda x : (x,x**3),lis1))
print(result)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125), (6, 216), (7, 343), (8, 512), (9, 729), (10, 1000)]

In [ ]:
def Count(li):
    counter = 0
    for num in li:
        if isinstance(num, tuple):
            break
        counter = counter + 1
    return counter

# Driver Code
li = [4, 5, 6, 10, (1, 2, 3), 11, 2, 4]
print(Count(li))

4

In [ ]:
s = "nilesh ganesh malode"
dic = {}
for  char in s:
  if char in dic and char !=" ":
    dic[char]+=1
  elif char!=" ":
    dic[char]=1
print(dic)

{'n': 2, 'i': 1, 'l': 2, 'e': 3, 's': 2, 'h': 2, 'g': 1, 'a': 2, 'm': 1, 'o': 1, 'd': 1}

In [ ]:
b = {char:s.count(char) for char in s if char !=" "}
print(b)

{'n': 2, 'i': 1, 'l': 2, 'e': 3, 's': 2, 'h': 2, 'g': 1, 'a': 2, 'm': 1, 'o': 1, 'd': 1}

In [ ]:
import string
lowecase = string.ascii_lowercase
uppercase = string.ascii_uppercase

In [ ]:
s = "Nilesh Ganesh Malode"
new_ss = ""
for char in s:
  if "A" <=char<= "Z":
    new_ss+=chr(ord(char)+32)
  else :
    new_ss+=char
print(new_ss)

nilesh ganesh malode

In [21]:
s = "NILESH GANESH MALODE"
new_ss = ""
for char in s:
  if char==" ":
    new_ss+=" "
  elif "A" <=char<= "Z" :
    new_ss+=chr(ord(char)+32)
print(new_ss)

nilesh ganesh malode

In [ ]:
p=new_ss.split()
print(new_ss)
z = " ".join(p[::-1])
print(z)

nilesh ganesh malode
malode ganesh nilesh

In [ ]:
def p_n(l,u):
  for num in range(l,u):
    if num>=1:
      for i in range(2,num):
        if num%i==0:
          break
      else:
        print(num)
p_n(1,20)

1
2
3
5
7
11
13
17
19