<a href="https://colab.research.google.com/github/nileshmalode11/python_Assignment/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Python program to create a list of tuples
# from given list having number and
# its cube in each tuple

# creating a list
list1 = [1, 2, 5, 6]

# using list comprehension to iterate each
# values in list and create a tuple as specified
res = [(val, pow(val, 3)) for val in list1]

# print the result
print(res)

[(1, 1), (2, 8), (5, 125), (6, 216)]

In [2]:
list1 = [1, 2, 5, 6]
res = list(map(lambda x: (x, x**3), list1))
print(res)
#This code is contributed by Edula Vinay Kumar Reddy

[(1, 1), (2, 8), (5, 125), (6, 216)]

In [3]:
# Python program to count the items
# until a list is encountered
def Count(li):
    counter = 0
    for num in li:
        if isinstance(num, tuple):
            break
        counter = counter + 1
    return counter

# Driver Code
li = [4, 5, 6, 10, (1, 2, 3), 11, 2, 4]
print(Count(li))

4

In [4]:

# Python code to remove duplicate elements
def Remove(duplicate):
    final_list = []
    for num in duplicate:
        if num not in final_list:
            final_list.append(num)
    return final_list

# Driver Code
duplicate = [2, 4, 10, 20, 5, 2, 20, 4]
print(Remove(duplicate))

[2, 4, 10, 20, 5]

In [5]:

# initializing list
test_list = [1, 4, 5, 6, 3, 5]

# printing original list
print("The original list is : " + str(test_list))

# First naive method
# using loop method to print last element
for i in range(0, len(test_list)):

    if i == (len(test_list)-1):
        print("The last element of list using loop : "
              + str(test_list[i]))

# Second naive method
# using reverse method to print last element
test_list.reverse()
print("The last element of list using reverse : "
      + str(test_list[0]))

The original list is : [1, 4, 5, 6, 3, 5]
The last element of list using loop : 5
The last element of list using reverse : 5